:root {
    --turquoise-blue: #69fff1ff;
    --emerald: #63d471ff;
    --forest-green-crayola: #63a46cff;
    --dark-olive-green: #6a7152ff;
    --pine-tree: #233329ff;
}



html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
}

header, footer {
    text-align: center;
    padding: 1em;
    width: 100%;
    height: 3em;
    font-size: 20px;
    background-color: var(--forest-green-crayola);
    color: white;
}

footer {
    font-size: 16px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100%;
    width: 100%;
}

.side-menu {
    background-color: var(--dark-olive-green);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 1em;
    position: relative;
}

.project {
    cursor: pointer;
    display: flex;
    margin-bottom: 0.5em;
}

.project-name {
    width: 100%;
}

.body {
    background-color: white;
    position: relative;
}


.add-project-button {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: var(--emerald);
    border-color: var(--emerald);
    color: black;
    border-radius: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    font-size: 32px;
    cursor: pointer;
}

.add-todo-button {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: var(--emerald);
    border-color: var(--emerald);
    color: black;
    border-radius: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    font-size: 32px;
    cursor: pointer;
}

.new-project-form > button, .project > button.remove-project-btn {
    background-color: var(--emerald);
    border: var(--emerald) 0px solid;
    border-radius: 1em;
    height: 2em;
    width: 2em;
    cursor: pointer;
}

.new-project-form > input  {
    height: 2em;
    width: 70%;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 1em;
    border: white 0px solid;
    padding: 0.5em;
}
